<section th:>
  <div class="content-wrap">
    <div class="banner">
      <div class="box">
        <div class="card" th:each="i : ${items}" >
          <img th:src="${i.imgurl}" class="item-image"  alt="Item Image" onerror="this.src='https://placehold.co/300'">
          <div class="text-box">
            <a th:href="@{'/detail/' + ${i.id}}">
              <h4 th:text="${i.title}">가방</h4>
            </a>
            <p th:text="${i.price + '원'}">4만원</p>
            <a th:href="@{'/edit/' + ${i.id} }">수정</a>
            <span th:onclick="fetch('/item?id=[[${i.id}]]', {method : 'DELETE'})
            .then(r => r.text())
            .then(() => {
                location.reload();
            })

            ">삭제</span>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>